.portfolio-title{
    display: flex;
    justify-content: center;
    
    & h1{
        font-size: 4em;
        border-bottom: 2px solid ;
        transition: all .6s ease;
        margin-top: .5em;

        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 0.5em 0.5em -0.4em;
            color: $third-color;
        }
    }
}
.portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    & .project{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
        width: 100%;
        height: 100%;
        gap: 2em;
        margin-top: 25px;

        
      
        
    
        & a>img{
            width: 100%;
            border: 1px solid $third-color;
            border-radius: 1rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
    
            &:hover{
                transition: all .5s ease;
                transform: translateY(-3px);
                cursor: pointer;
    
            }
        }
       
    }

}

